.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar a {
  color: white;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar .navbar-brand {
  padding-left: 20px;
  font-size: 1.5em;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('login-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 350px;
}

.login-header, .login-form {
  display: flex;
  flex-direction: column;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: calc(100% - 22px); /* Adjust width to leave space for padding and borders */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Make sure the submit button aligns with the input fields */
.login-form input[type="submit"] {
  width: calc(100% - 22px); /* Adjust width to leave space for padding and borders */
  padding: 10px;
  margin-bottom: 10px; /* Provide some space between the button and the link below */
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}




.login-form a {
  text-decoration: none;
  color: #000;
}

/* Style the forgot password link */
.forgot-password {
  text-align: right; /* Aligns the text to the right */
}
.forgot-password a {
  display: inline-block; /* Allows the use of margin */
  margin-bottom: 10px; /* Adjust this value as needed for space */
  /* ... other properties ... */
}