.navbar {
    position: absolute;
    top: 0;
    left: 0;  /* Add this line to ensure the navbar starts from the left */
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    display: flex;
    justify-content: flex-start; /* Aligns items to the start (left) */
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    color: white;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('signup_photo.png'); /* Update with your signup page background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    display: flex; /* Align children vertically */
    flex-direction: column; /* Stack children vertically */
}

.signup-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup-form .form-group {
    margin-bottom: 20px; /* Adjust this value to increase space */
}

.signup-form input,
.signup-form input[type="submit"] {
    width: 80%; /* Adjust width to your preference */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* Space between sections */
    display: block; /* Ensures the input is a block element */
    margin-left: auto; /* Auto margins for horizontal centering */
    margin-right: auto;
}

.signup-form input[type="submit"] {
    background-color: #000; /* Button color black */
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.signup-form input[type="submit"]:hover {
    background-color: #808080; /* Button color grey on hover */
}

/* Ensure the 'Already have an account?' link is centered */
.signup-form a {
    display: block;
    text-align: center;
    margin-top: 20px; /* Adds space above the link */
    color: #000;
    text-decoration: none;
}


.signup-form input[type="email"], .signup-form input[type="password"] {
    /* Input styles are inherited */
}

.signup-form input:focus {
    border-color: #5CBA47;
    outline: none;
}

.signup-form a:hover {
    color: grey;
}