.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  height: 982px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(25px);
}
.rectangle-8 {
  background: rgba(0, 0, 0, 0.68);
  width: 1512px;
  height: 79px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-10 {
  background: rgba(0, 0, 0, 0.68);
  width: 1512px;
  height: 79px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-11 {
  background: rgba(0, 0, 0, 0.68);
  width: 1512px;
  height: 79px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-9 {
  background: #ffffff;
  width: 287px;
  height: 79px;
  position: absolute;
  left: -6px;
  top: 0px;
}
.overtime {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 21px;
  top: 13px;
  width: 244px;
  height: 55px;
}
.welcome-to-overtime {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 96px;
  font-weight: 700;
  position: absolute;
  left: 211px;
  top: 329px;
  width: 1194px;
  height: 129px;
}
.rectangle-82 {
  background: #000000;
  border-radius: 36px;
  width: 303px;
  height: 92px;
  position: absolute;
  left: 639px;
  top: 467px;
}
.join-now {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 703px;
  top: 487px;
  width: 197px;
  height: 56px;
}
.log-meals {
  color: #ffffff;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 302px;
  top: 24px;
}
.line-1 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 44px;
  height: 0px;
  position: absolute;
  left: 494px;
  top: 20px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.log-workouts {
  color: #ffffff;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 531px;
  top: 24px;
}
.profile {
  color: #ffffff;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 808px;
  top: 24px;
}
.line-2 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 44px;
  height: 0px;
  position: absolute;
  left: 778px;
  top: 20px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.image-6 {
  width: 64px;
  height: 66px;
  position: absolute;
  left: 1432px;
  top: 6px;
  object-fit: cover;
}
