.meal-page,
.meal-page * {
  box-sizing: border-box;
}
.meal-page {
  background: #ffffff;
  height: 985px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: rgba(0, 0, 0, 0.68);
  width: 1543.87px;
  height: 79px;
  position: absolute;
  left: 6.13px;
  top: 0px;
}
.rectangle-13 {
  background: rgba(0, 0, 0, 0.68);
  width: 1543.87px;
  height: 79px;
  position: absolute;
  left: 6.13px;
  top: 0px;
}
.rectangle-14 {
  background: rgba(0, 0, 0, 0.68);
  width: 1543.87px;
  height: 79px;
  position: absolute;
  left: 6.13px;
  top: 0px;
}
.rectangle-15 {
  background: #000000;
  width: 293.05px;
  height: 79px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.overtime {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 45px;
  font-weight: 800;
  position: absolute;
  left: 19.4px;
  top: 12px;
  width: 249.14px;
  height: 55px;
}
.line-3 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 44px;
  height: 0px;
  position: absolute;
  left: 510.54px;
  top: 20px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-18 {
  background: #000000;
  width: 261.4px;
  height: 82px;
  position: absolute;
  left: 510.54px;
  top: -3px;
}
.log-workouts {
  color: #ffffff;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 536.07px;
  top: 27px;
  width: 221.57px;
}
.rectangle-17 {
  background: #ffffff;
  width: 218.51px;
  height: 79px;
  position: absolute;
  left: 293.05px;
  top: 0px;
}
.log-meals {
  color: #000000;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 315.51px;
  top: 27px;
  width: 172.56px;
}
.rectangle-122 {
  width: 907px;
  height: 869px;
  position: absolute;
  left: 19px;
  top: 98px;
  overflow: visible;
}
.lunch {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 392px;
  width: 216px;
  height: 61px;
}
.dinner {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 542px;
  width: 216px;
  height: 61px;
}
.snacks {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 692px;
  width: 216px;
  height: 61px;
}
.breakfast {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 242px;
  width: 216px;
  height: 62px;
}
.meals {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 50px;
  font-weight: 800;
  position: absolute;
  left: 117px;
  top: 146px;
  width: 197px;
  height: 54px;
}
.add-food-delete-entry {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 314px;
  width: 334px;
  height: 30px;
}
.add-food-delete-entry2 {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 463px;
  width: 334px;
  height: 30px;
}
.add-food-delete-entry3 {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 614px;
  width: 334px;
  height: 30px;
}
.add-food-delete-entry4 {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 763px;
  width: 334px;
  height: 30px;
}
.rectangle-142 {
  width: 527px;
  height: 134px;
  position: absolute;
  left: 963px;
  top: 98px;
  overflow: visible;
}
.line-10 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 1059px;
  top: 98px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-11 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 1136px;
  top: 98px;
  transform-origin: 0 0;
  transform: rotate(90.428deg) scale(1, 1);
}
.line-12 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 1208px;
  top: 98px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-13 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 1298px;
  top: 98px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-14 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 1390px;
  top: 98px;
  transform-origin: 0 0;
  transform: rotate(90.428deg) scale(1, 1);
}
.calories {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 970px;
  top: 113px;
  width: 93px;
  height: 53px;
}
.carbs {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1076px;
  top: 113px;
  width: 93px;
  height: 53px;
}
.fat {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1154px;
  top: 113px;
  width: 93px;
  height: 53px;
}
.protein {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1217px;
  top: 113px;
  width: 93px;
  height: 53px;
}
.sodium {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1314px;
  top: 115px;
  width: 93px;
  height: 53px;
}
.sugar {
  color: #000000;
  text-align: left;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1406px;
  top: 115px;
  width: 93px;
  height: 53px;
}
.image-1 {
  width: 61px;
  height: 60px;
  position: absolute;
  left: 1438px;
  top: 10px;
  object-fit: cover;
}
.rectangle-16 {
  background: #000000;
  width: 18px;
  height: 58px;
  position: absolute;
  left: 86px;
  top: 148px;
}
.line-15 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 505px;
  height: 0px;
  position: absolute;
  left: 963px;
  top: 140px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
