/* Add your CSS styles here */
.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.section {
  width: 45%;
  padding: 20px;
  margin: 10px;
}
.section-title {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
}
.data-label {
  font-weight: bold;
}
.data-value {
  float: right;
}
input[type="text"] {
  width: 100%;
  padding: 5px;
}

/* Styles for the navigation bar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* Navbar right styles */
.navbar-right {
  display: flex;
  justify-content: flex-end;
}

/* Navbar link styles */
.navbar a {
  color: white;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* Navbar link hover effect */
.navbar a:hover {
  color: #777;
}

.profile-header {
  background-image: url('./image-30.png');
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 20px 0;
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.header-content {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

.profile-header h1 {
  color: black;
  font-size: 48px;
  margin-left: 20px;
}

/* Sections Container */
.sections-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjusted the gap */
}

/* Section styles */
.section {
  flex-basis: 45%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 650px;
}

/* Font size for data labels and values */
.data-label, .data-value {
  color: gray;
  font-size: 18px;
}

/* Styling for input fields and data values */
input[type="text"], .data-value {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Data field container layout */
.data-field-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: start; /* Changed from center to start */
  margin-bottom: 20px; /* Added margin for spacing */
}

/* Exercise Section styles */
.exercise .data-field-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.data-section {
  background: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle-progress {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(lightblue 0% 0%, lightgray 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Space above the input field */
}

.circle-progress span {
  font-size: 14px;
  color: black;
  position: absolute;
}

#proteinIntakeCircle {
  background: conic-gradient(brown 0% 0%, lightgray 0% 100%);
}

.goal-message {
  display: none;
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

/* Data field styles */
.data-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* Input and button width adjustments */
input[type="text"], button {
  width: auto;
  margin: 10px 0;
}

/* Circle progress input order */
.circle-progress + input {
  order: 2;
}

.circle-progress + input + button {
  order: 3; /* Makes button come after the input */
}
